body{
    background-color: black;
    margin: 0px;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.top {
    background: #1b1e29;
    position: relative;
}

.top::after {
    content: "";
    display: table;
    clear: both;
}

#Logo{
    height: 55px;
    margin: 10px 0px 10px 20px;
    display: inline-block;
}
#SubmitButton {
    margin: 12px 0 0 0;
    border: 0;
    width: 220px;
    background-color: #272727;
    padding: 12px 20px;
    font-size: 16px;
    color: rgb(175, 174, 174);
    transition: color 0.8s ease-in-out; 
}

#SubmitButton:hover {
    cursor: pointer;
    color: white; 
}
.navbar{
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    right: 20px;
    font-size: 20px;
    margin: 10px 0 0 0;
}
.navbar ul a{
    color: rgb(129, 129, 129);
    margin: 0px 16px 0 0;
    text-decoration: none;
}
.navbar ul a:hover{
    color: rgb(223, 223, 223);
    text-decoration: none;
}
.navbar ul a.Active{
    color: rgb(223, 223, 223);
    text-decoration: none;
}
.Heading{
    text-align: center;
    color: white;
}
.Heading h1{
    display: inline-block;
    padding: 20px 0 0 0;
}
.Formm{
    color: white;
}
.Formm div{
    margin: 14px 0 0 30px;
}
.Formm div input{
    background: rgb(13, 19, 28);
    border: 0;
    color: white;
}